# SQL Overview:

* SQL is an ANSI (American National Standards Institute) standard, but there are many different versions of the
  SQL language.
* SQL is the standard language for Relation Database System .Different dialects used for different databases like MYsql,Oracle     and so  on

# SQL Commands:

The standard SQL commands to interact with relational databases are CREATE, SELECT, INSERT, UPDATE,DELETE and DROP. These commands can be classified into groups based on their nature:

### DDL - Data Definition Language:

* CREATE -Creates a new table, a view of a table, or other object in database
* ALTER -Modifies an existing database object, such as a table.
* DROP -Deletes an entire table, a view of a table or other object in the database.

* Note : DDL commands include an implicit commit

### DML - Data Manipulation Language:

* INSERT-Creates a record
* UPDATE-Modifies records
* DELETE-Deletes records

* Note : No implicit commit, use commit after insertion/deletion accordingly

### DCL - Data Control Language:

* GRANT-Gives a privilege to user
* REVOKE-Takes back privileges granted from user

### DQL - Data Query Language:

* SELECT-Retrieves certain records from one or more tables


## What is NULL value in SQL?

* A NULL value in a table is a value in a field that appears to be blank, which means a field with a NULL value is a
  field with no value.

* It is very important to understand that a NULL value is different than a zero value or a field that contains spaces. A
  field with a NULL value is one that has been left blank during record creation.


## Commonly used SQL Constraints:

Constraints are the rules enforced on data columns on table

* NOT NULL Constraint: Ensures that a column cannot have NULL value.
* DEFAULT Constraint: Provides a default value for a column when none is specified.
* UNIQUE Constraint: Ensures that all values in a column are different.
* PRIMARY Key: Uniquely identified each rows/records in a database table.
* FOREIGN Key: Uniquely identified a rows/records in any another database table.
* CHECK Constraint: The CHECK constraint ensures that all values in a column satisfy certain conditions.
* INDEX: Use to create and retrieve data from the database very quickly

# SQL Syntax - Refresher :

* SQL SELECT Statement:
        SELECT column1, column2....columnN
        FROM table_name;
        
* SQL DISTINCT Clause:
       SELECT DISTINCT column1, column2....columnN
       FROM table_name;
        
* SQL WHERE Clause:
       SELECT column1, column2....columnN
       FROM table_name
       WHERE CONDITION;
       
* SQL AND/OR Clause:
      SELECT column1, column2....columnN
      FROM table_name
      WHERE CONDITION-1 {AND|OR} CONDITION-2;
      
* SQL IN Clause:
      SELECT column1, column2....columnN
      FROM table_name
      WHERE column_name IN (val-1, val-2,...val-N);     

* SQL ORDER BY Clause:
      SELECT column1, column2....columnN
      FROM table_name
      WHERE CONDITION
      ORDER BY column_name {ASC|DESC};

* SQL GROUP BY Clause:
      SELECT column_name,[aggregate fun]
      FROM table_name
      WHERE CONDITION
      GROUP BY column_name;
      
* SQL HAVING Clause:
      SELECT SUM(column_name)
      FROM table_name
      WHERE CONDITION
      GROUP BY column_name
      HAVING (arithematic function condition);

## Note on use of Group by clause:

* Group by can include one column or multiple columns

* Grouping of NULL Values : If grouping is required on a column that contains NULL values, all these NULL values form one group.   When rows are grouped.
* **General Rule for the GROUP BY Clause** :
    * any column specified in the SELECT clause must occur as a parameter of an aggregated function or in the list of columns         given in the GROUP BY clause, or in both.
     
      Example : Incorrect use of group by - Toen in included in select but not group by or the aggregate function count()
                SELECT   TOWN, COUNT(*)
                FROM     PLAYERS
                GROUP BY PLAYERNO

# SQL Joins :

There are different types of joins available in SQL:

* INNER JOIN: returns rows when there is a match in both tables.
* LEFT JOIN: returns all rows from the left table, even if there are no matches in the right table.
* RIGHT JOIN: returns all rows from the right table, even if there are no matches in the left table.
* FULL JOIN: returns rows when there is a match in one of the tables.
* SELF JOIN: is used to join a table to itself as if the table were two tables, temporarily renaming at least one
  table in the SQL statement.
* CARTESIAN JOIN: returns the Cartesian product of the sets of records from the two or more joined tables

## Syntax :

* **Inner Join:**
   
    SELECT table1.column1, table2.column2...
    FROM table1
    INNER JOIN table2
    ON table1.common_filed = table2.common_field;

* **Left Join :**

    SELECT table1.column1, table2.column2...
    FROM table1
    LEFT JOIN table2
    ON table1.common_filed = table2.common_field;
    
* **Right Join: **

    SELECT table1.column1, table2.column2...
    FROM table1
    RIGHT JOIN table2
    ON table1.common_filed = table2.common_field;
    
* **Full Join :**

    SELECT table1.column1, table2.column2...
    FROM table1
    FULL JOIN table2
    ON table1.common_filed = table2.common_field;

** For More Detailed explaination and syntax refer [SQL Tutorial](http://www.tutorialspoint.com/sql/sql_tutorial.pdf)**