Write a function `my_print` that prints the third, fifth, and 7th-10th latin alphabet letters

Note: the lowercase letters are in:

```python
>>> import string
>>> string.ascii_lowercase
'abcdefghijklmnopqrstuvwxyz'
```


```python

>>> my_print()
'c'
'e'
'g'
'h'
'i'
'j'
```

Write a function `first(x)` that returns the value if it is not a tuple/list, or the first element if it is a tuple/list

```python
>>> first('a')
'a'
>>> first(1)
1
>>> first([2, 3, 4])
2
>>> first((5, 6, 7))
5
```

Print the following number `1234.56789` normally, truncated as an integer, to 1, 2, and 3 decimal places, and in scientific notation. Do this using both `str.format` and casting with `%`.

Iterate through and print each language and its greeting from the following dictionary:

```python
greetings = {
    'spanish': 'hola',
    'german': 'hallo',
    'english': 'good day',
    'american': 'howdy'
}
```

Write a function `get_seconds(my_list)` that takes a list of pairs and gives back a list of only the second items.

```python
>>> pairs = [[1, 2], [3, 4], [5, 6]]
>>> get_seconds(pairs)
[2, 4, 6]
```

Write a function `biggest_key(my_dict)` that takes a dictionary and returns the key that has the largest value. Consider using the function `my_dict.get` as a key.

Use it to Get the person's name with the highest power level:

```python
>>> power_levels = {
...    'Christian': 9001,
...    'Charlie': 6,
...    'Nanditha': 6.1
... }
>>> biggest_key(power_levels)
'Christian'
```

Write a function `div7(n)` that returns a list of all the numbers less than n that are divisible by 7

```python
>>> div7(29)
[0, 7, 14, 21, 28]
```

Write a function `flatten(my_list)` that turns a list of lists into a single list

```python
>>> l = [[1,2,3],['a','b','c'],[7,8,9]]
>>> flatten(l)
[1,2,3,'a','b','c',7,8,9]
```

Write a function `cartesian(my_list1, my_list2)` that makes the cartesian product between two lists

```python
>>> x = [1,2,3]
>>> y = ['a', 'b']
>>> cartesian(x, y)
[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]
```

Write a function `remove_all(my_list, element)` that removes all occurrences of `element` in the list. This function should not return a value. It should not modify the order.

```python
>>> x = [1, 2, 3, 2, 3, 4, 3, 5]
>>> remove_all(x, 2)
>>> x
[1, 3, 3, 4, 3, 5]
```

Write a function `my_combinations(my_list)` that returns all combinations of the elements in `my_list`

```python
>>> x = [1, 2, 3, 4]
>>> my_combinations(x)
[[1, 2], [1, 3], [1, 4], [2, 3], [2, 4], [3, 4]]
```

Write a function `cumsum(n)` that gives back the cumulative sum of each number up to i for each position i.

```python
>>> cumsum(4)
[0, 1, 3, 7, 12]
```

Make a dictionary from `continent2countries` from continents to countries in that continent. Make another dictionary `country2capital` from countries to their capitals.