Write a function `my_print` that prints the third, fifth, and 7th-10th latin alphabet letters

Note: the lowercase letters are in:

```python
>>> import string
>>> string.ascii_lowercase
'abcdefghijklmnopqrstuvwxyz'
```


```python

>>> my_print()
'c'
'e'
'g'
'h'
'i'
'j'
```

In [28]:
import string

x = string.ascii_lowercase

def my_print():
    
    
    # Ihsan
    #print (x[2])
    #print (x[4])
    #for i in range(6, 10):
    #    print (x[i])
        
    # Alex
    #my_list = [2, 4]
    #my_list.extend( list(range(6,10)))
    #for i in my_list:
    #    print("'{}'".format(string.ascii_lowercase[i]))
    
    print(x[2], x[4], *x[6:10], sep=', ')
    
    
    
#my_print()
#list(x[6:10])

x = [1,2,3,4]
print(1,2,3,4,5,6,7,8)
print(x[0], x[1], x[2], x[3],5,6,7,8)
print(*x[0:4], 5, 6, 7,8)

1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8

In [26]:
def print_params(*my_params):
    print(*my_params, sep=', ')

print_params(1,2,3)

1, 2, 3

Write a function `first(x)` that returns the value if it is not a tuple/list, or the first element if it is a tuple/list

```python
>>> first('a')
'a'
>>> first(1)
1
>>> first([2, 3, 4])
2
>>> first((5, 6, 7))
5
```

In [34]:
#haritha
def first(x):
    if isinstance(x,(list,tuple)):
        return x[0]
    else:
        return x
def first(x):
    return x[0] if isinstance(x,(list,tuple)) else x

x='abc'
first(x)

'abc'

Print the following number `1234.56789` normally, truncated as an integer, to 1, 2, and 3 decimal places, and in scientific notation. Do this using both `str.format` and casting with `%`.

In [56]:
#monica
n = 1234.56789
print('a=%.d' % n)
print('a=%f' % n)
print('a=%.1f' % n)
print('a=%.2f' % n)
print('a=%.3f' % n)
print('a=%e' % n)


print('b={}'.format(n))
print('b={:.1f}'.format(n))
print('b={:.1e}'.format(n))
print('b={:2.2g}'.format(n))

a=1234
a=1234.567890
a=1234.6
a=1234.57
a=1234.568
a=1.234568e+03
b=1234.56789
b=1234.6
b=1.2e+03
b=1.2e+03

Iterate through and print each language and its greeting from the following dictionary:

```python
greetings = {
    'spanish': 'hola',
    'german': 'hallo',
    'english': 'good day',
    'american': 'howdy'
}
```

In [57]:
greetings = {
    'spanish': 'hola',
    'german': 'hallo',
    'english': 'good day',
    'american': 'howdy'
}

In [61]:
# Umesh
for language, greeting in greetings.items():
    print('The {} says {}'.format(language, greeting))

for item in greetings.items():
    print('The {} says {}'.format(*item))

The spanish says hola
The english says good day
The american says howdy
The german says hallo

Write a function `get_seconds(my_list)` that takes a list of pairs and gives back a list of only the second items.

```python
>>> pairs = [[1, 2], [3, 4], [5, 6]]
>>> get_seconds(pairs)
[2, 4, 6]
```

In [71]:
def get_seconds(my_list):
    a=[]
    for i in range(0,len(my_list)):
        a.append(my_list[i][1])
    return a

def get_seconds(my_list):
    a=[]
    for i in range(len(my_list)):
        a.append(my_list[i][1])
    return a

def get_seconds2(my_list):
    result =[]
    for a, b in my_list:
        result.append(b)
    return result

def get_seconds3(my_list):
    a,b = zip(*my_list)
    return b

def get_seconds4(my_list):
    return [i[1] for i in my_list]

def get_seconds5(my_list):
    return [b for a, b in my_list]

from operator import itemgetter

def get_seconds6(my_list):
    return map(itemgetter(1), my_list)

pairs = [[1, 2], [3, 4], [5, 6]]
list(get_seconds6(pairs))

[2, 4, 6]

Write a function `biggest_key(my_dict)` that takes a dictionary and returns the key that has the largest value. Consider using the function `my_dict.get` as a key.

Use it to Get the person's name with the highest power level:

```python
>>> power_levels = {
...    'Christian': 9001,
...    'Charlie': 6,
...    'Nanditha': 6.1
... }
>>> biggest_key(power_levels)
'Christian'
```

In [77]:
power_levels = {
    'Christian': 9001,
    'Charlie': 6,
    'Nanditha': 6.1
}

list(power_levels)

['Charlie', 'Nanditha', 'Christian']

In [80]:
l = ['Charlie', 'Nanditha', 'Christian']

max(l, key=len)

'Christian'

In [79]:
max(list(power_levels), key=power_levels.get)

'Christian'

In [75]:
#akristha
def biggest_key(my_dict):
    return max(my_dict, key=my_dict.get)

p = biggest_key(power_levels) 
print(p, power_levels[p])

Christian 9001

Write a function `div7(n)` that returns a list of all the numbers less than n that are divisible by 7

```python
>>> div7(29)
[0, 7, 14, 21, 28]
```

In [83]:
# sephr

def div7(n):
    return [i for i in range(n) if not i % 7]

div7(29)

[0, 7, 14, 21, 28]

Write a function `flatten(my_list)` that turns a list of lists into a single list

```python
>>> l = [[1,2,3],['a','b','c'],[7,8,9]]
>>> flatten(l)
[1,2,3,'a','b','c',7,8,9]
```

In [94]:
# randa

def flatten(my_list):
    result = []
    for i in range(len(my_list)):
        for j in range(len(my_list[i])):
            result.append(my_list[i][j])
    return result

def flatten2(my_list):
    result = []
    for my_sub_list in my_list:
        for element in my_sub_list:
            result.append(element)
    return result

def flatten3(my_list):
    result = []
    for my_sub_list in my_list:
        result.extend(my_sub_list)
    return result

def flatten4(my_list):
    return [element for sub_list in my_list for element in sub_list]

l = [[1,2,3],['a','b'],[7,8,9],[10,11,12]]
flatten4(l)

[1, 2, 3, 'a', 'b', 7, 8, 9, 10, 11, 12]

Write a function `cartesian(my_list1, my_list2)` that makes the cartesian product between two lists

```python
>>> x = [1,2,3]
>>> y = ['a', 'b']
>>> cartesian(x, y)
[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]
```

In [96]:
# xin
def cartesian(x, y):
    my_list=[]
    for i in range(len(x)):
        for j in range(len(y)):
            my_list.append((x[i],y[j]))
    return my_list

def better_cartesian(x, y):
    my_list = []
    for a in x:
        for b in y:
            my_list.append((a,b))
    return my_list



x = [1,2,3]
y = ['a', 'b']
cartesian(x, y)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

Write a function `remove_all(my_list, element)` that removes all occurrences of `element` in the list. This function should not return a value. It should not modify the order.

```python
>>> x = [1, 2, 3, 2, 3, 4, 3, 5]
>>> remove_all(x, 2)
>>> x
[1, 3, 3, 4, 3, 5]
```

In [100]:
# lilit

def remove_all(my_list, element):
    for i in my_list:
        if i == element:
            my_list.remove(element)
            
def remove_all(my_list, element):
    if element in my_list:
        my_list.remove(element)
        remove_all(my_list, element)
    
def remove_all(my_list, element)
    [my_list.remove(e) for e in my_list if e == element]

def remove_all(my_list, element):
    for i in my_list.count(element):
        my_list.remove(element)
        
def remove_all(my_list, element):
    while element in my_list:
        my_list.remove(element)
    
x = [1, 2, 3, 2, 3, 4, 3, 5]
remove_all(x, 2)
x

[1, 3, 3, 4, 3, 5]

Write a function `my_combinations(my_list)` that returns all combinations of the elements in `my_list`

```python
>>> x = [1, 2, 3, 4]
>>> my_combinations(x)
[[1, 2], [1, 3], [1, 4], [2, 3], [2, 4], [3, 4]]
```

In [119]:
# sakthi
def my_combinations(my_list):
    return {tuple(sorted([a,b])) for a in my_list for b in my_list if a != b}
  
# asma
def my_combinations2(my_list):
    return [(el1,el2) for i, el1 in enumerate(my_list) for j, el2 in enumerate(my_list[i + 1:])]

def my_combinations3(my_list):
    result = []
    for i in range(len(my_list) - 1):
        for j in range(i + 1, len(my_list)):
            result.append((my_list[i], my_list[j]))
    return result

def my_combinations4(my_list):
    result = []
    for i in range(len(my_list)):
        for j in range(len(my_list)):
            if i < j:
                result.append((my_list[i], my_list[j]))
    return result

x = [1, 2, 3, 4]
my_combinations4(x)

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

Write a function `cumsum(n)` that gives back the cumulative sum of each number up to i for each position i.

```python
>>> cumsum(4)
[0, 1, 3, 6, 10]
```

In [125]:
# amir

def cumsum(n):
    my_list = []
    result = 0
    
    for x in range(n + 1):
        result += x
        my_list.append(result)
        
    return my_list
    
def cumsum(n):
    my_list = [0]
    for x in range(1, n + 1):
        my_list.append(my_list[x - 1] + x)
    return my_list

cumsum(4)

[0, 1, 3, 6, 10]

Make a dictionary from `continent2countries` from continents to countries in that continent. Make another dictionary `country2capital` from countries to their capitals.

In [126]:
#hanan
continent2countries = {
    'Asia': ['Yemen', 'Pakistan','Saudi Arabia','China'],
    'Africa': ['Egypt', 'Democratic Republic of Congo', 'Republic of Congo'],
    'Europe': ['Germany', 'France']
}

country2capital = {
    'Yemen': 'Sanaa',
    'Saudi Arabia': 'Riyadh',
}